<% include partials/header %>

<div class="container about-container">
    
    <div class="row">
        
        <!-- <div class="col-md-12"> -->
        
            <h1>Welcome to Anime Square</h1>

            <p>Den Of Geek is dedicated to serving the interests of today’s entertainment enthusiast. Reaching over 7 million unique users every month, our readers are core fans and casual viewers, male and female, 18 to 49 in the US, UK, and around the world. Our audience is passionate about their entertainment choices and highly influential amongst family and friends.</p>

            <p>Den Of Geek creates opportunities to connect with audiences on a deeper level; reaching and recruiting millions of engaged influencers by blending breaking news and the latest reviews with in-depth feature stories to provide the best coverage of movies, TV, games, comics, and culture.</p>
    
        </div>
    
    <!-- </div> -->
    
</div>

<% include partials/footer %>

