<% include partials/header %>

<div class="row"> 
  <div class="col-md-6 col-md-offset-6">
	<div class="author-page">
		<div>
			<img src="https://randomuser.me/api/portraits/men/51.jpg">
		</div>
	</div>
  </div>	
</div>

<% include partials/header %>