<% include partials/header %>

<div id="contact-page">
    <img src="https://images8.alphacoders.com/508/508520.jpg">
</div>

<div class="container contact-container">
    
    <div class="row">
        
        <!--<div class="col-md-12">-->
        
            <h1>Contact us</h1>
            
            <h3>Email Us</h3>

            <p>Please send us your inquiry with your requirement and contact details.</p>
    
        <!--</div>-->
    
    </div>
    
</div>

<% include partials/footer %>

