<% include partials/header %>

<div class="container">
	

	<form class="ui form" action="/login" method="POST">

	      <h1>Anime Knight</h1>

	      <h2>Login</h2>

	      <a href="/auth/facebook" id="fb">
	        <img src="/images/facebook-button.png">
	      </a>

		  <div class="field">
		    <label>Username</label>
			<input type="text" name="username" placeholder="username">
		  </div>

		  <div class="field">
		    <label>Password</label>
		    <input type="password" name="password" placeholder="password">
		  </div>
		    
		<button class="ui secondary basic button">Login</button> 

		<h3>New to Anime Knight?</h3>
		<a class="ui secondary basic button" href="/register">Sign Up</a>

	</form> 

</div>

<% include partials/footer %>
