<% include ./partials/header %>

<div class="jumbotron">
	<h1>New Blog</h1>
</div>

<!-- <form action="/blog" method="POST">
    <input type="text" name="blog[title]" placeholder="title">
	<input type="text" name="blog[image]" placeholder="image">
	<textarea name="blog[body]"></textarea>
	<button class="ui secondary basic button">Submit</button>
</form> -->

<form class="ui form" action="/blog" method="POST">

  <div class="field">
    <label>Title</label>
    <input type="text" name="blog[title]" placeholder="title">
    <!-- <textarea type="text" name="blog[title]"></textarea> -->
  </div>

  <div class="field">
  	<label>Date</label>
    <input type="text" name="blog[date]" placeholder="date">
  </div>

  <div class="field">
    <label>Image</label>
    <input id="image" type="text" name="blog[image]" placeholder="image">
  </div>

  <div class="field">
    <label>Text</label>
    <textarea type="text" id="MyID" name="blog[body]"></textarea> 
  </div>

  <div class="field">
    <label>Summary</label>
    <input type="text" name="blog[summary]" placeholder="summary">
  </div>

  <div class="field">
    <label>Author</label>
    <input type="text" name="blog[author]" placeholder="author">
  </div>

  <div class="field">
    <label>Featured</label>
    <input type="text" name="blog[featured]" placeholder="yes or no">
  </div>

  <div class="field">
    <label>Title URL</label>
    <input type="text" name="blog[titleURL]" placeholder="titleURL">
  </div>
  
  <button id="submit" class="ui secondary basic button">Submit</button>
</form>


<% include ./partials/footer %>