<% include ./partials/header %>

<div class="jumbotron">
	<h1>New Revisited</h1>
</div>

<!-- <form action="/revisited" method="POST">
    <input type="text" name="revisited[title]" placeholder="title">
	<input type="text" name="revisited[image]" placeholder="image">
	<textarea name="revisited[body]"></textarea>
	<button class="ui secondary basic button">Submit</button>
</form> -->

<form class="ui form" action="/revisited" method="POST">
  <div class="field">
    <label>Title</label>
    <input type="text" name="revisited[title]" placeholder="title">
    <!-- <textarea type="text" name="revisited[title]"></textarea> -->
  </div>

  <div class="field">
  	<label>Date</label>
    <input type="text" name="revisited[date]" placeholder="date">
  </div>
  <div class="field">
    <label>Image</label>
    <input id="image" type="text" name="revisited[image]" placeholder="image">
  </div>
  <div class="field">
    <label>Text</label>
    <textarea type="text" name="revisited[body]"></textarea> 
  </div>

  <div class="field">
    <label>Summary</label>
    <input type="text" name="revisited[summary]" placeholder="summary">
  </div>

  <div class="field">
    <label>Author</label>
    <input type="text" name="revisited[author]" placeholder="author">
  </div>

  <div class="field">
    <label>Title URL</label>
    <input type="text" name="revisited[titleURL]" placeholder="titleURL">
  </div>
  
  <button id="submit" class="ui secondary basic button">Submit</button>
</form>


<% include ./partials/footer %>